* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    width: 100%;
  }
  #ets {
    height: 90px;    
    width: 300px;
  }
  #nav {
    box-shadow: 0px 5px 30px gray;
  }
  #container {
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #txt {
    height: 400px;
    width: 600px;
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
  }
  #continue{
    height: 40px;
    width: 40px;
    margin-right: 25px;
  }
  .foot {
    height: 66px;
    width: 100%;
    box-shadow: 0px 5px 30px gray;
    width: 100%;
  }
  .foot{
    display: flex;
    justify-content: flex-end;  
    align-items: center;  
  }
  #counter {
    height: 60px;
    width: 250px;
    border-radius: 10px;
    color: black;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
  }